body {
    background-color: azure;
}

img {
    width: 90%;
    border-radius: 10px;
}

.attribution { 
    background-color: orange;
    font-size: 11px;
    text-align: center;
    height: 60vh;
    width: 20vw;
    border-radius: 15px;
    padding: 10px;
}
.attribution a { color: hsl(228, 45%, 44%); }

.prompt {
    font-size: 15px;
    display: block;
    font-family: Outfit;
    margin-bottom: 5px;
}

.instruction {
    font-size: 10px;
    margin-bottom: 10px;
}
