body {background-color: azure;}
.attribution { background-color: orange; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution {height: 60vh; width: 20vw; border-radius: 15px; padding: 10px;}
.prompt {font-size: 15px; display: block; font-family: Outfit; margin-bottom: 5px;}
.instruction {font-size: 10px; margin-bottom: 10px;}
img {width: 90%; border-radius: 10px;}